<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SHlearn | Login</title>

    <!-- google fonts cdn link  -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <!-- font awesome cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />

    <!-- custom css file link  -->
    <link rel="stylesheet" href="./indexStyle.css" />
  </head>
  <body>
    <header>
      <div id="menu" class="fas fa-bars"></div>

      <a href="#" class="logo"><i class="fas fa-user-graduate"></i> Nacademy</a>

      <div id="login" class="fas fa-user-circle"></div>
    </header>

    <!-- header section ends -->

    <div class="login-form">
      <form action="/login" method="post">
        <h3>login</h3>
        <input type="name" placeholder="username" class="box" name="username" />
        <input
          type="password"
          placeholder="password"
          class="box"
          name="password"
        />
        <p>forget password? <a href="#">click here</a></p>
        <p id="reg">
          don't have an account? <a href="/register">register now</a>
        </p>
        <input type="submit" class="btn" value="login" />
        <a href="/"><i class="fas fa-times"></i></a>
      </form>
    </div>

    <!-- home section starts  -->

    <section class="home" id="home">
      <h1>Internship Training Program</h1>
      <p>Get trained, work on live projects and get certificate in 8 weeks.</p>
      <a href="/register"
        ><button class="btn">
          <i class="fab fa-github"></i> Register for Free
        </button></a
      >
      <a href="#course"><button class="btn">explore tracks</button></a>

      <div class="shape"></div>
    </section>

    <!-- home section ends -->

    <!-- about section starts  -->

    <section class="about" id="about">
      <div class="detail">
        <h3>Upskilling</h3>
        <p>
          8 Weeks of intensive training & certifications through structured,
          industry vetted curriculum.
        </p>
      </div>
      <div class="detail">
        <h3>Live Projects</h3>
        <p>
          Build real, ready-to-ship products with team members, professionals &
          students from other tracks.
        </p>
      </div>
      <div class="detail">
        <h3>Workplace Skills</h3>
        <p>
          Build your resume,enhance your profile & get noticed by recruiters
          from top companies.
        </p>
      </div>
      <div class="detail">
        <h3>Industry Certification</h3>
        <p>
          Get Internship & training certificates and gain a point of
          differentiation on your CV for your college placements.
        </p>
      </div>
    </section>

    <!-- about section ends -->

    <!-- course section starts  -->

    <section class="course" id="course">
      <h1 class="heading">our popular courses</h1>

      <div class="box-container">
        <div class="box">
          <img src="images/1.jpg" alt="" />
          <div class="content">
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half"></i>
            </div>
            <a href="#" class="title">Software Developer</a>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem,
              beatae. Modi quos excepturi id quibusdam? Molestiae quis nihil non
              debitis!
            </p>
            <div class="info">
              <h3><i class="far fa-clock"></i> 2 hours</h3>
              <h3><i class="far fa-calendar-alt"></i> 6 months</h3>
              <h3><i class="fas fa-book"></i> 12 modules</h3>
            </div>
          </div>
        </div>

        <div class="box">
          <img src="images/2.jpg" alt="" />
          <div class="content">
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half"></i>
            </div>
            <a href="#" class="title">Data Analyst</a>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem,
              beatae. Modi quos excepturi id quibusdam? Molestiae quis nihil non
              debitis!
            </p>
            <div class="info">
              <h3><i class="far fa-clock"></i> 2 hours</h3>
              <h3><i class="far fa-calendar-alt"></i> 6 months</h3>
              <h3><i class="fas fa-book"></i> 12 modules</h3>
            </div>
          </div>
        </div>

        <div class="box">
          <img src="images/3.jpg" alt="" />
          <div class="content">
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half"></i>
            </div>
            <a href="#" class="title">Marketing & Sales</a>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem,
              beatae. Modi quos excepturi id quibusdam? Molestiae quis nihil non
              debitis!
            </p>
            <div class="info">
              <h3><i class="far fa-clock"></i> 2 hours</h3>
              <h3><i class="far fa-calendar-alt"></i> 6 months</h3>
              <h3><i class="fas fa-book"></i> 12 modules</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- course section ends -->

    <!-- teacher section starts  -->

    <section class="teacher" id="teacher">
      <h1 class="heading">our expert teachers</h1>

      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. At non
        explicabo tempora modi, reprehenderit ratione sunt ea porro tenetur
        officiis alias sapiente praesentium voluptas cumque quo maiores dolores
        totam ex.
      </p>

      <a href="#"><button class="btn">learn more</button></a>
    </section>

    <!-- teacher section ends -->

    <!-- footer section starts  -->

    <div class="footer">
      <div class="box-container">
        <div class="box">
          <h3>tracks</h3>
          <a href="#">Software Development</a>
          <a href="#">Data Analytics</a>
          <a href="#">Marketing & Sales</a>
        </div>

        <div class="box">
          <h3>company</h3>
          <p><i class="far fa-comments"></i> Contact Us</p>
          <p><i class="fas fa-phone"></i> Request a Call Back</p>
          <p><i class="far fa-file-alt"></i> T&C</p>
          <p><i class="fas fa-file-contract"></i> Privacy</p>
        </div>

        <div class="box">
          <h3>Got a referal code ?</h3>
          <p>
            Enter your referral code to enroll directly into the Internship
            Training Program.
          </p>
          <div class="box3">
            <input type="name" placeholder="Referal code" class="box1" />
            <input type="submit" class="btn" value="submit" />
          </div>
        </div>
      </div>

      <h6 class="credit">
        ©2022 This page is protected by reCAPTCHA and is subject to the Google
        Privacy Policy and Terms of Service.
      </h6>
    </div>
    <!-- <script src="script.js"></script> -->
  </body>
</html>
